<div class="container">
  <div class="card">
    <div class="d-flex">
      <div>
        <img class="img-responsive center-block" src="{{thisUser.image}}" style="width: 250px; border-radius:50%">
      </div>
      <div class="ml-5 mt-3">
        <h3>{{thisUser.name}}</h3>
        <div class="my-3">{{thisUser.email}}</div>
        <p><strong>{{count}}</strong> 已評論餐廳</p>
        {{#if isEditable}}
        <a href="/users/{{user.id}}/edit" class="btn btn-primary">edit</a>
        {{/if}}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      已評論餐廳
    </div>
    <div class="card-body">
      {{#each comment}}
      <a href="/restaurants/{{this.Restaurant.id}}" style="display: inline-block;">
        <img class="img" src="{{this.Restaurant.image}}" style="width: 100px; height:100px">
      </a>
      {{/each}}
    </div>
  </div>
</div>